LazOp team will review the security review process at this step. The request will be approved within 1-2 working days. Not action required from you in this step. 

![Image.png](https://intranetproxy.alipay.com/skylark/lark/0/2019/png/190030/1564739902527-1d7b0490-4b45-4647-98d1-bbe55fada33d.png)