{
  "openapi": "3.0.0",
  "info": {
    "title": "Shopee Open Platform API",
    "version": "v2",
    "description": "Auto-generated OpenAPI specification from Shopee Developer Docs."
  },
  "servers": [
    {
      "url": "https://partner.shopeemobile.com",
      "description": "Live Server"
    },
    {
      "url": "https://partner.test-stable.shopeemobile.com",
      "description": "Test Server"
    }
  ],
  "tags": [
    {
      "name": "Sbs"
    },
    {
      "name": "Product"
    },
    {
      "name": "Accounthealth"
    },
    {
      "name": "Globalproductcb Seller Only"
    },
    {
      "name": "Public"
    },
    {
      "name": "Shop"
    },
    {
      "name": "Firstmile"
    },
    {
      "name": "Ams"
    },
    {
      "name": "Voucher"
    },
    {
      "name": "Merchant"
    },
    {
      "name": "Logistics"
    },
    {
      "name": "Bundle Deal"
    },
    {
      "name": "Add On Deal"
    },
    {
      "name": "Discount"
    },
    {
      "name": "Follow Prize"
    },
    {
      "name": "Push"
    },
    {
      "name": "Livestream"
    },
    {
      "name": "Ads"
    },
    {
      "name": "Payment"
    },
    {
      "name": "Order"
    },
    {
      "name": "Toppicks"
    },
    {
      "name": "Returns"
    },
    {
      "name": "Mediaspace"
    },
    {
      "name": "Shopcategory"
    },
    {
      "name": "Media"
    },
    {
      "name": "Fbs"
    },
    {
      "name": "Shopflashsale"
    }
  ],
  "paths": {
    "/api/v2/sbs/get_stock_aging": {
      "get": {
        "tags": [
          "Sbs"
        ],
        "summary": "v2.sbs.get_stock_aging",
        "description": "Get Seller Center Stock Aging page data\n\n### Potential Errors\n| Error Code | Description |\n|---|---|\n| error_data | parse data failed |\n| error_data | data not exist |\n| error_param | parameter invalid |\n| error_param | The information you queried is not found. |\n| error_param | Wrong parameters, detail: {msg}. |\n| error_server | Something wrong. Please try later.\t |\n",
        "operationId": "v2.sbs.get_stock_aging",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Partner ID is assigned upon registration is successful. Required for all requests."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "timestamp"
            },
            "description": "This is to indicate the timestamp of the request. Required for all requests. Expires in 5 minutes."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token for API access, using to identify your permission to the api. Valid for multiple use and expires in 4 hours."
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Shopee's unique identifier for a shop. Required param for most APIs."
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Specifies the page number of data to return in the current call. Starting from 1. if data is more than one page, the page_no can be some entry to start next call. If empty, the default value is 1.<br /></p>"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Each result set is returned as a page of entries. Use the \"page_size\" filters to control the maximum number of entries to retrieve per page (i.e., per call), and the \"page_no\" to start next call. This integer value is used to specify the maximum number of entries to return in a single \"page\" of data.</p><p>If empty, the default value is 10. The value should be between 1 and 100.</p>"
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>1-Product Name\uff1b2-SKU ID\uff1b3-Variations\uff1b4-Item ID<br /></p>"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>bound with search_type<br /></p>"
          },
          {
            "name": "whs_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>split by comma<br /></p>"
          },
          {
            "name": "aging_storage_tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>0-false\uff1b1-true<br /></p>"
          },
          {
            "name": "excess_storage_tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>0-false\uff1b1-true<br /></p>"
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "<p>L1-level product category ID. You need to call the get_category API to obtain the first-level category_id<br /></p>"
          },
          {
            "name": "whs_region",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>BR\u3001CN\u3001ID\u3001MY\u3001MX\u3001TH\u3001TW\u3001PH\u3001VN\u3001SG<br /></p><p><b>If do not pass, will get error \"block by gateway due to invalid cid\"</b></p>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "<p>Indicate error type if hit error. Empty if no error happened.<br /></p>"
                    },
                    "message": {
                      "type": "string",
                      "description": "<p>Indicate error details if hit error.&nbsp;Empty if no error happened.<br /></p>"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "<p>The identifier for an API request for error tracking.<br /></p>"
                    },
                    "response": {
                      "type": "object",
                      "description": "<p>Detail informations you are querying.<br /></p>",
                      "properties": {
                        "item_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "warehouse_item_id": {
                                "type": "string",
                                "description": "<p>Warehouse item id; To indicate an unique item in a warehouse<br />one warehouse item id can match with multiple shop_item_id<br /><br /><b>For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</b></p>"
                              },
                              "item_name": {
                                "type": "string",
                                "description": "<p>item name<br /></p>"
                              },
                              "item_image": {
                                "type": "string",
                                "description": "<p>item image<br /></p>"
                              },
                              "sku_list": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "mtsku_id": {
                                      "type": "string",
                                      "description": "<p>mtsku id<br /></p>"
                                    },
                                    "model_id": {
                                      "type": "string",
                                      "description": "<p>Warehouse model SKU ID</p><p>For CB global items, this is equal to the global model_id.</p><p>For local items, it differs from model_id; use shop_model_id to match the model_id</p>"
                                    },
                                    "fulfill_mapping_mode": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "<p>0-Null\uff1b1-Bundle SKU\uff1b2-Parent SKU<br /></p>"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "<p>model name<br /></p>"
                                    },
                                    "barcode": {
                                      "type": "string"
                                    },
                                    "whs_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "whs_id": {
                                            "type": "string",
                                            "description": "<p>Whs id<br /></p>"
                                          },
                                          "qty_of_stock_age_one": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>0-30Days<br /></p>"
                                          },
                                          "qty_of_stock_age_two": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>31-60Days<br /></p>"
                                          },
                                          "qty_of_stock_age_three": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>61-90Days<br /></p>"
                                          },
                                          "qty_of_stock_age_four": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>91-120Days<br /></p>"
                                          },
                                          "qty_of_stock_age_five": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>121-180Days<br /></p>"
                                          },
                                          "qty_of_stock_age_six": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>&gt;180Days<br /></p>"
                                          },
                                          "excess_stock": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>expired stock<br /></p>"
                                          },
                                          "aging_storage_tag": {
                                            "type": "integer",
                                            "format": "int32"
                                          }
                                        }
                                      },
                                      "description": "<p>Info of whs<br /></p>"
                                    },
                                    "shop_sku_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "shop_sku_id": {
                                            "type": "string",
                                            "description": "<p>shop level sku_id<br /><br />shop_sku_id=\"item_id\" _ \"model_id\"<br /></p>"
                                          },
                                          "shop_item_id": {
                                            "type": "string",
                                            "description": "<p>shop_item_id=\"item_id\" in Product Module<br /></p><p><br /></p><p>For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                                          },
                                          "shop_model_id": {
                                            "type": "string",
                                            "description": "<p>shop_model_id= item level model_id<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "description": "<p>Data list of mtsku<br /></p>"
                              }
                            }
                          },
                          "description": "<p>Data list of item sku<br /></p>"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "General Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sbs/get_current_inventory": {
      "get": {
        "tags": [
          "Sbs"
        ],
        "summary": "v2.sbs.get_current_inventory",
        "description": "Get Seller Center Current Inventory Page Data\n\n### Potential Errors\n| Error Code | Description |\n|---|---|\n| error_data | parse data failed |\n| error_data | data not exist |\n| error_param | parameter invalid |\n| error_param | The information you queried is not found. |\n| error_param | Wrong parameters, detail: {msg}. |\n| error_server | Something wrong. Please try later.\t |\n",
        "operationId": "v2.sbs.get_current_inventory",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Partner ID is assigned upon registration is successful. Required for all requests."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "timestamp"
            },
            "description": "This is to indicate the timestamp of the request. Required for all requests. Expires in 5 minutes."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token for API access, using to identify your permission to the api. Valid for multiple use and expires in 4 hours."
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Shopee's unique identifier for a shop. Required param for most APIs."
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Specifies the page number of data to return in the current call. Starting from 1. if data is more than one page, the page_no can be some entry to start next call. If empty, the default value is 1.</p>"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Each result set is returned as a page of entries. Use the \"page_size\" filters to control the maximum number of entries to retrieve per page (i.e., per call), and the \"page_no\" to start next call. This integer value is used to specify the maximum number of entries to return in a single \"page\" of data.</p><p>If empty, the default value is 10. The value should be between 1 and 100.</p>"
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>0-All data\uff1b1-Product Name\uff1b2-SKU ID\uff1b3-Variations\uff1b4-Item ID</p>"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>Bind Value and Search_type</p>"
          },
          {
            "name": "whs_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>Whs ID list, comma-separated</p>"
          },
          {
            "name": "not_moving_tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Blank-All\uff1b0-No\uff1b1-Yes</p>"
          },
          {
            "name": "inbound_pending_approval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "<p>Blank-All\uff1b0-No\uff1b1-Yes</p>"
          },
          {
            "name": "products_with_inventory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Blank-All\uff1b0-No\uff1b1-Yes</p>"
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "<p>Category id. Here you need to call the&nbsp;get_category&nbsp;API to retrieve the first-tier category_id.<br /></p>"
          },
          {
            "name": "stock_levels",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>1-Low Stock &amp; No Sellable stock; 2-Low Stock &amp; To replenish; 3-Low Stock &amp; Replenished; 4-Excess<br /></p>"
          },
          {
            "name": "whs_region",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>The warehouse region you want to query, can only query one region in a request<br />Optional value: BR\u3001CN\u3001ID\u3001MY\u3001MX\u3001TH\u3001TW\u3001PH\u3001VN\u3001SG<br /><br /><b>If do not pass, will get error \"block by gateway due to invalid cid\"</b></p>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "description": "<p>The identifier for an API request for error tracking.</p>"
                    },
                    "error": {
                      "type": "string",
                      "description": "<p>Indicate error type if hit error. Empty if no error happened.</p>"
                    },
                    "message": {
                      "type": "string",
                      "description": "<p>Indicate error details if hit error.&nbsp;Empty if no error happened.<br /></p>"
                    },
                    "response": {
                      "type": "object",
                      "description": "<p>Detail informations you are querying.<br /></p>",
                      "properties": {
                        "item_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "warehouse_item_id": {
                                "type": "string",
                                "description": "<p>Warehouse item id; To indicate an unique item in a warehouse<br /><br />one warehouse item id can match with multiple shop_item_id<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                              },
                              "item_name": {
                                "type": "string",
                                "description": "<p>item name</p>"
                              },
                              "item_image": {
                                "type": "string",
                                "description": "<p>item image</p>"
                              },
                              "sku_list": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "mtsku_id": {
                                      "type": "string",
                                      "description": "<p>mtsku id</p>"
                                    },
                                    "model_id": {
                                      "type": "string",
                                      "description": "<p>Warehouse model SKU ID</p><p>For CB global items, this is equal to the global model_id.</p><p>\n\n\n\n\n\n</p><p>For local items, it differs from model_id; use shop_model_id to match the model_id</p>"
                                    },
                                    "fulfill_mapping_mode": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "<p>0-Null\uff1b1-Bundle SKU\uff1b2-Parent SKU</p>"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "<p>model name</p>"
                                    },
                                    "not_moving_tag": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "whs_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "whs_id": {
                                            "type": "string",
                                            "description": "<p>&nbsp;Warehouse ID</p>"
                                          },
                                          "stock_level": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "<p>-1-No need to calculate stock level\uff1b0-None\uff1b1-Low Stock &amp; No Sellable stock; 2-Low Stock &amp; To replenish; 3-Low Stock &amp; Replenished; 4-Excess<br /></p>"
                                          },
                                          "ir_approval_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>IR approval but no ASN generated will be included</p>"
                                          },
                                          "in_transit_pending_putaway_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>ASN in-transit\uff0cASN pending putaway, Move transfer in transit and Move transfer pending putaway will be included</p>"
                                          },
                                          "sellable_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stocks that are available for sale. This includes warehouse sellable stock, move transfer &amp; rack transfer reserved stock that available for sale, pre-order stock.This quantity may be greater than qty displayed to buyers as it includes stock reserved for upcoming promotions.<br /></p>"
                                          },
                                          "reserved_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stocks reserved by buyer order, RTS. And also includes rack transfer reserved stock that are not available for sale<br /></p>"
                                          },
                                          "unsellable_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stocks in the warehouse that are not available for sale. This includes damaged stocks, isolated stock due to expired/near expiring, in warehouse staging location, missing, etc.<br /></p>"
                                          },
                                          "excess_stock": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Number of units that are above 6 days of sales coverage Days.</p>"
                                          },
                                          "coverage_days": {
                                            "type": "number",
                                            "format": "float",
                                            "description": "<p>Days that the current sellable and pending inbound inventory are expected to last based on current selling speed.<br /></p>"
                                          },
                                          "in_whs_coverage_days": {
                                            "type": "number",
                                            "format": "float",
                                            "description": "<p>Days that the current sellable inventory are expected to last based on current selling speed.<br /></p>"
                                          },
                                          "selling_speed": {
                                            "type": "number",
                                            "format": "float",
                                            "description": "<p>Average daily sold quantity</p>"
                                          },
                                          "last_7_sold": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Sales qty last 7 days</p>"
                                          },
                                          "last_15_sold": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Sales qty last 15 days<br /></p>"
                                          },
                                          "last_30_sold": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Sales qty last 30 days<br /></p>"
                                          },
                                          "last_60_sold": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Sales qty last 60 days<br /></p>"
                                          },
                                          "last_90_sold": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Sales qty last 90 days<br /></p>"
                                          }
                                        }
                                      },
                                      "description": "<p>Info of whs</p>"
                                    },
                                    "shop_sku_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "shop_sku_id": {
                                            "type": "string",
                                            "description": "<p>shop level sku_id<br /><br />shop_sku_id=\"item_id\" _ \"model_id\"</p>"
                                          },
                                          "shop_item_id": {
                                            "type": "string",
                                            "description": "<p>shop_item_id=\"item_id\" in Product Module<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                                          },
                                          "shop_model_id": {
                                            "type": "string",
                                            "description": "<p>&nbsp;shop_model_id= item level model_id<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "description": "<p>Data list of mtsku</p>"
                              }
                            }
                          },
                          "description": "<p>Data list of item sku</p>"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "General Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sbs/get_bound_whs_info": {
      "get": {
        "tags": [
          "Sbs"
        ],
        "summary": "v2.sbs.get_bound_whs_info",
        "description": "get bound warehouse by shop id\n\n### Potential Errors\n| Error Code | Description |\n|---|---|\n| error_data | parse data failed |\n| error_data | data not exist |\n| error_param | parameter invalid |\n| invalid_param | Parameters in the request are invalid, {msg} |\n| invalid_request | Parse the request failed |\n| error_param | The information you queried is not found. |\n| error_param | Wrong parameters, detail: {msg}. |\n| error_server | Something wrong. Please try later.\t |\n| server_internal_error | The server encountered an internal error, please retry or contact the server administrator |\n",
        "operationId": "v2.sbs.get_bound_whs_info",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Partner ID is assigned upon registration is successful. Required for all requests."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "timestamp"
            },
            "description": "This is to indicate the timestamp of the request. Required for all requests. Expires in 5 minutes."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token for API access, using to identify your permission to the api. Valid for multiple use and expires in 4 hours."
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Shopee's unique identifier for a shop. Required param for most APIs."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "shop_id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "bound_whs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "whs_region": {
                                      "type": "string",
                                      "description": "<p>the warehouse region bound with the shop</p>"
                                    },
                                    "whs_ids": {
                                      "type": "string",
                                      "description": "<p>the warehouse id bound with the shop</p>"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "General Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sbs/get_expiry_report": {
      "get": {
        "tags": [
          "Sbs"
        ],
        "summary": "v2.sbs.get_expiry_report",
        "description": "Seller Center Expiry Report page data\n\n### Potential Errors\n| Error Code | Description |\n|---|---|\n| error_data | parse data failed |\n| error_data | data not exist |\n| error_param | parameter invalid |\n| error_param | The information you queried is not found. |\n| error_param | Wrong parameters, detail: {msg}. |\n| error_server | Something wrong. Please try later.\t |\n",
        "operationId": "v2.sbs.get_expiry_report",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Partner ID is assigned upon registration is successful. Required for all requests."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "timestamp"
            },
            "description": "This is to indicate the timestamp of the request. Required for all requests. Expires in 5 minutes."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token for API access, using to identify your permission to the api. Valid for multiple use and expires in 4 hours."
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Shopee's unique identifier for a shop. Required param for most APIs."
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Specifies the page number of data to return in the current call. Starting from 1. if data is more than one page, the page_no can be some entry to start next call. If empty, the default value is 1.<br /></p>"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Each result set is returned as a page of entries. Use the \"page_size\" filters to control the maximum number of entries to retrieve per page (i.e., per call), and the \"page_no\" to start next call. This integer value is used to specify the maximum number of entries to return in a single \"page\" of data.</p><p>If empty, the default value is 10. The value should be between 1 and 40.</p>"
          },
          {
            "name": "whs_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expiry_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>0-Expired\uff0c2-Expiring\uff0c4-expiry_blocked\uff0c5-damaged\uff0c6-normal\u3002Multiple selections allowed, separated by commas.<br /></p>"
          },
          {
            "name": "category_id_l1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "<p>Only <b>Level 1 Category</b> can be filtered</p>"
          },
          {
            "name": "sku_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "variation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "item_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "whs_region",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Num value: BR\u3001CN\u3001ID\u3001MY\u3001MX\u3001TH\u3001TW\u3001PH\u3001VN\u3001SG<br /><br /></p><p><b>If do not pass, will get error \"block by gateway due to invalid cid\"</b></p>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "description": "<p>The identifier for an API request for error tracking.<br /></p>"
                    },
                    "error": {
                      "type": "string",
                      "description": "<p>Indicate error type if hit error. Empty if no error happened.<br /></p>"
                    },
                    "message": {
                      "type": "string",
                      "description": "<p>Indicate error details if hit error.&nbsp;Empty if no error happened.<br /></p>"
                    },
                    "response": {
                      "type": "object",
                      "description": "<p>Detail informations you are querying.<br /></p>",
                      "properties": {
                        "item_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "warehouse_item_id": {
                                "type": "string",
                                "description": "<p>Warehouse item id; To indicate an unique item in a warehouse<br />one warehouse item id can match with multiple shop_item_id<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                              },
                              "item_name": {
                                "type": "string"
                              },
                              "item_image": {
                                "type": "string"
                              },
                              "sku_list": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "mtsku_id": {
                                      "type": "string",
                                      "description": "<p>Unique ID for a warehouse SKU<br />\"warehouse_item_id\"_\"warehouse_model_id\"</p>"
                                    },
                                    "model_id": {
                                      "type": "string",
                                      "description": "<p>Warehouse model SKU ID</p><p>For CB global items, this is equal to the global model_id.</p><p><br /></p><p>For local items, it differs from model_id; use shop_model_id to match the model_id</p>"
                                    },
                                    "fulfill_mapping_mode": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "<p>0-Null\uff1b1-Bundle SKU\uff1b2-Parent SKU<br /></p>"
                                    },
                                    "variation": {
                                      "type": "string"
                                    },
                                    "shop_sku_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "shop_sku_id": {
                                            "type": "string",
                                            "description": "<p>shop level sku_id<br /><br />shop_sku_id=\"item_id\" _ \"model_id\"</p>"
                                          },
                                          "shop_item_id": {
                                            "type": "string",
                                            "description": "<p>shop_item_id=\"item_id\" in Product Module<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                                          },
                                          "shop_model_id": {
                                            "type": "string",
                                            "description": "<p>shop_model_id= item level model_id<br /><br />For Global Item,&nbsp;warehouse_item_id=Global Item id<br />For Local Item, shop_item_id=item_id</p>"
                                          }
                                        }
                                      }
                                    },
                                    "whs_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "whs_id": {
                                            "type": "string",
                                            "description": "<p>warehouse ID</p>"
                                          },
                                          "expiring_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stocks that are expiring soon and should be sold as soon as possible.<br /></p>"
                                          },
                                          "expired_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stock past expiry date.<br /></p>"
                                          },
                                          "expiry_blocked_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stocks that are too near to expiry and cannot be sold any more.<br /></p>"
                                          },
                                          "damaged_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stock in damaged condition and cannot be sold.<br /></p>"
                                          },
                                          "normal_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Stocks that are normal.<br /></p>"
                                          },
                                          "total_qty": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Total stocks on hand.<br /></p>"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "General Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sbs/get_stock_movement": {
      "get": {
        "tags": [
          "Sbs"
        ],
        "summary": "v2.sbs.get_stock_movement",
        "description": "Get Seller Center\uff0cStock Movement page data\n\n### Potential Errors\n| Error Code | Description |\n|---|---|\n| error_data | parse data failed |\n| error_data | data not exist |\n| error_param | parameter invalid |\n| error_param | The information you queried is not found. |\n| error_param | Wrong parameters, detail: {msg}. |\n| error_server | Something wrong. Please try later.\t |\n",
        "operationId": "v2.sbs.get_stock_movement",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Partner ID is assigned upon registration is successful. Required for all requests."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "timestamp"
            },
            "description": "This is to indicate the timestamp of the request. Required for all requests. Expires in 5 minutes."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token for API access, using to identify your permission to the api. Valid for multiple use and expires in 4 hours."
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Shopee's unique identifier for a shop. Required param for most APIs."
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Specifies the page number of data to return in the current call. Starting from 1. if data is more than one page, the page_no can be some entry to start next call. If empty, the default value is 1.<br /></p>"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "<p>Each result set is returned as a page of entries. Use the \"page_size\" filters to control the maximum number of entries to retrieve per page (i.e., per call), and the \"page_no\" to start next call. This integer value is used to specify the maximum number of entries to return in a single \"page\" of data.</p><p>If empty, the default value is 10. The value should be between 1 and 20.<br /></p>"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Start date in YYYY-MM-DD format. Only data within the past 1 year can be queried, and the time range must not exceed 90 days.<br /></p>"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>End date in YYYY-MM-DD format. Only data within the past 1 year can be queried, and the time range must not exceed 90 days.<br /></p>"
          },
          {
            "name": "whs_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>Multiple warehouse_id values should be separated by commas.<br /></p>"
          },
          {
            "name": "category_id_l1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "<p>L1-level category_id. You need to call the get_category API to retrieve the first-level category_id.<br /></p>"
          },
          {
            "name": "sku_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "item_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "<p>Product Name Filter<br /></p>"
          },
          {
            "name": "variation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "whs_region",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "<p>Warehouse Region. Enum values: BR, CN, ID, MY, MX, TH, TW, PH, VN, SG<br /></p><p><b>If do not pass, will get error \"block by gateway due to invalid cid\"</b></p>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "<p>Indicate error type if hit error. Empty if no error happened.<br /></p>"
                    },
                    "message": {
                      "type": "string",
                      "description": "<p>Indicate error details if hit error.&nbsp;Empty if no error happened.<br /></p>"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "<p>The identifier for an API request for error tracking.<br /></p>"
                    },
                    "response": {
                      "type": "object",
                      "description": "<p>Detail informations you are querying.<br /></p>",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "start_time": {
                          "type": "string"
                        },
                        "end_time": {
                          "type": "string"
                        },
                        "query_end_time": {
                          "type": "string"
                        },
                        "item_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "warehouse_item_id": {
                                "type": "string",
                                "description": "<p>Warehouse item id; To indicate an unique item in a warehouse<br /><br />one warehouse item id can match with multiple shop_item_id<br /></p>"
                              },
                              "item_name": {
                                "type": "string",
                                "description": "<p>item name<br /></p>"
                              },
                              "item_image": {
                                "type": "string",
                                "description": "<p>item image<br /></p>"
                              },
                              "sku_list": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "mtsku_id": {
                                      "type": "string",
                                      "description": "<p>mtsku id<br /></p>"
                                    },
                                    "model_id": {
                                      "type": "string",
                                      "description": "<p>model sku id<br /></p>"
                                    },
                                    "variation": {
                                      "type": "string"
                                    },
                                    "fulfill_mapping_mode": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "<p>0-Null\uff1b1-Bundle SKU\uff1b2-Parent SKU<br /></p>"
                                    },
                                    "barcode": {
                                      "type": "string"
                                    },
                                    "whs_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "whs_id": {
                                            "type": "string",
                                            "description": "<p>Whs id<br /></p>"
                                          },
                                          "start_on_hand_total": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Total warehouse inventory at the start time<br /></p>"
                                          },
                                          "inbound_total": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Inbound quantity to the warehouse during the selected time period.<br /></p>"
                                          },
                                          "outbound_total": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Outbound quantity from the warehouse during the selected time period<br /></p>"
                                          },
                                          "adjust_total": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Inventory adjustment quantity in the warehouse during the selected time period<br /></p>"
                                          },
                                          "end_on_hand_total": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "<p>Total warehouse inventory at the end time.<br /></p>"
                                          }
                                        }
                                      },
                                      "description": "<p>Info of whs<br /></p>"
                                    },
                                    "start_qty": {
                                      "type": "object",
                                      "description": "<p>Inventory information at the start time.<br /></p>",
                                      "properties": {
                                        "start_on_hand_total": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>sku number at the start time<br /></p>"
                                        },
                                        "start_sellable": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Number of sellable SKUs at the start time<br /></p>"
                                        },
                                        "start_reserved": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Number of reserved SKUs at the start time.<br /></p>"
                                        },
                                        "start_unsellable": {
                                          "type": "integer",
                                          "format": "int64"
                                        }
                                      }
                                    },
                                    "end_qty": {
                                      "type": "object",
                                      "properties": {
                                        "end_on_hand_total": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total inventory at the end time.<br /></p>"
                                        },
                                        "end_sellable": {
                                          "type": "integer",
                                          "format": "int64"
                                        },
                                        "end_reserved": {
                                          "type": "integer",
                                          "format": "int64"
                                        },
                                        "end_unsellable": {
                                          "type": "integer",
                                          "format": "int64"
                                        }
                                      }
                                    },
                                    "inbound_qty": {
                                      "type": "object",
                                      "description": "<p>Inbound information during the selected time period<br /></p>",
                                      "properties": {
                                        "inbound_total": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total inbound quantity during the selected time period<br /></p>"
                                        },
                                        "inbound_my": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total merchant procurement quantity during the selected time period.<br /></p>"
                                        },
                                        "inbound_returned": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total number of SKUs returned by buyers and received into the warehouse during the selected time period.<br /></p>"
                                        }
                                      }
                                    },
                                    "outbound_qty": {
                                      "type": "object",
                                      "properties": {
                                        "outbound_total": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total outbound quantity during the selected time period.</p>"
                                        },
                                        "outbound_sold": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>\"Total sold quantity during the selected time period.\"</p>"
                                        },
                                        "outbound_returned": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total merchant return quantity during the selected time period.</p>"
                                        },
                                        "outbound_disposed": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total disposal quantity during the selected time period.</p>"
                                        }
                                      }
                                    },
                                    "adjust_qty": {
                                      "type": "object",
                                      "description": "<p>\"SKU change information during the selected time period.\"</p><p>\n</p><p><br /></p>",
                                      "properties": {
                                        "adjust_total": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>\"Total number of SKU changes during the selected time period.\"</p>"
                                        },
                                        "adjust_lost_found": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>\"Total quantity of lost or recovered items during the selected time period.\"</p>"
                                        },
                                        "adjust_trans_whs": {
                                          "type": "integer",
                                          "format": "int64",
                                          "description": "<p>Total quantity of transfer orders created by the warehouse during the selected time period<br /></p>"
                                        }
                                      }
                                    },
                                    "shop_sku_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "shop_sku_id": {
                                            "type": "string",
                                            "description": "<p>shop level sku_id  shop_sku_id=\"item_id\" _ \"model_id\"</p>"
                                          },
                                          "shop_item_id": {
                                            "type": "string",
                                            "description": "<p>shop_item_id=\"item_id\" in Product Module</p>"
                                          },
                                          "shop_model_id": {
                                            "type": "string",
                                            "description": "<p>shop_model_id= item level model_id</p>"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "description": "<p>Data list of mtsku<br /></p>"
                              }
                            }
                          },
                          "description": "<p>Data list of item sku<br /></p>"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "General Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/product/link_ssp": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "v2.product.link_ssp",
        "description": "Link the existing product to SSP, replacing its info for the ones from the SSP.\n\n### Potential Errors\n| Error Code | Description |\n|---|---|\n| error_data | parse data failed |\n| error_data | data not exist |\n| error_param | parameter invalid |\n| error_param | The information you queried is not found. |\n| error_param | Wrong parameters, detail: {msg}. |\n| error_server | Something wrong. Please try later.\t |\n| error_shop | shopid is invalid |\n| error_param | request not from gateway |\n",
        "operationId": "v2.product.link_ssp",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Partner ID is assigned upon registration is successful. Required for all requests."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "timestamp"
            },
            "description": "This is to indicate the timestamp of the request. Required for all requests. Expires in 5 minutes."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The token for API access, using to identify your permission to the api. Valid for multiple use and expires in 4 hours."
          },
          {
            "name": "shop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int"
            },
            "description": "Shopee's unique identifier for a shop. Required param for most APIs."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "<p>Indicate error type if hit error. Empty if no error happened.<br /></p>"
                    },
                    "message": {
                      "type": "string",
                      "description": "<p>Indicate error details if hit error. Empty if no error happened.<br /></p>"
                    },
                    "warning": {
                      "type": "string",
                      "description": "<p>Indicate waring details if hit waring. Empty if no waring happened.<br /></p>"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "<p>The identifier for an API request for error tracking<br /></p>"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "item_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": "<p>Shopee's unique identifier for an item.<br /></p>"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "General Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "<p>ID of this item.<br /></p>"
                  },
                  "ssp_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "<p>Shopee's unique identifier for Shopee&nbsp;Standard Product.<br /></p>"
                  },
                  "original_price": {
                    "type": "number",
                    "format": "float",
                    "description": "<p>The price of this item.<br /></p>"
                  },
                  "item_status": {
                    "type": "string",
                    "description": "<p>Item status, could be UNLIST or NORMAL.<br /></p>"
                  },
                  "dimension": {
                    "type": "object",
                    "description": "<p>The dimension of this item.<br /></p>",
                    "properties": {
                      "package_length": {
                        "type": "integer",
                        "format": "int32",
                        "description": "<p>The length of package for this item, the unit is CM.<br /></p>"
                      },
                      "package_width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "<p>The width of package for this item, the unit is CM.<br /></p>"
                      },
                      "package_height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "<p>The height of package for this item, the unit is CM.<br /></p>"
                      }
                    },
                    "required": [
                      "package_length",
                      "package_width",
                      "package_height"
                    ]
                  },
                  "logistic_info": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "logistic_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": "<p>ID of the channel.<br /></p>"
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "<p>Whether channel is enabled for this item.<br /></p>"
                        },
                        "shipping_fee": {
                          "type": "number",
                          "format": "float",
                          "description": "<p>Shipping fee, only needed when logistics fee_type = CUSTOM_PRICE.<br /></p>"
                        },
                        "size_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": "<p>Size ID, only needed when logistic fee_type = SIZE_SELECTION.<br /></p>"
                        },
                        "is_free": {
                          "type": "boolean",
                          "description": "<p>Whether cover shipping fee for buyer.<br /></p>"
                        }
                      },
                      "required": [
                        "logistic_id",
                        "enabled"
                      ]
                    },
                    "description": "<p>Logistic channel setting of this item.<br /></p>"
                  },
                  "attribute_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attribute_id": {
                          "type": "integer",
                          "format": "int64",
                          "description": "<p>ID of attribute.<br /></p>"
                        },
                        "attribute_value_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value_id": {
                                "type": "integer",
                                "format": "int64",
                                "description": "<p>Value ID. In the following cases, the value id needs to be uploaded as 0, and original_value_name is mandatory, needs to be filled in customized value. (1) AttributeInputType is TEXT_FILED; (2) AttributeInputType is COMBO_BOX or MULTIPLE_SELECT_COMBO_BOX, and the seller want to fill in a customized value.<br /></p>"
                              },
                              "original_value_name": {
                                "type": "string",
                                "description": "<p>Value name. original_value_name from product.get_attributes api. If value id=0, this field is required. If AttributeType is DATE_TYPE or TIMESTAMP_TYPE, you can upload timestamp(string type) as the original_value_name.<br /></p>"
                              },
                              "value_unit": {
                                "type": "string",
                                "description": "<p>Unit of attribute value (quantitative attribute only).<br /></p>"
                              }
                            },
                            "required": [
                              "value_id"
                            ]
                          }
                        }
                      },
                      "required": [
                        "attribute_id",
                        "attribute_value_list"
                      ]
                    }
                  },
                  "pre_order": {
                    "type": "object",
                    "description": "<p>Pre order setting of this item.</p>",
                    "properties": {
                      "is_pre_order": {
                        "type": "boolean",
                        "description": "<p>Whether this item is pre order.<br /></p>"
                      },
                      "days_to_ship": {
                        "type": "integer",
                        "format": "int32",
                        "description": "<p>The guaranteed days to ship orders. Please get the days_to_ship range from get_item_limit api.<br /></p>"
                      }
                    },
                    "required": [
                      "is_pre_order"
                    ]
                  },
                  "item_sku": {
                    "type": "string",
                    "description": "<p>SKU tag of this item.<br /></p>"
                  },
                  "condition": {
                    "type": "string",
                    "description": "<p>Condition of item, could be USED or NEW.<br /></p>"
                  },
                  "wholesale": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "min_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "<p>Minimum count of this tier.<br /></p>"
                        },
                        "max_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "<p>Maximum count of this tier.<br /></p>"
                        },
                        "unit_price": {
                          "type": "number",
                          "format": "float",
                          "description": "<p>Unit price of this tier.<br /></p>"
                        }
                      },
                      "required": [
                        "min_count",
                        "max_count",
                        "unit_price"
                      ]
                    },
                    "description": "<p>Wholesale setting of this item.<br /></p>"
                  },
                  "video_upload_id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "<p>Video upload ID returned from video uploading API. Only accept one video_upload_id.<br /></p>"
                  },
                  "item_dangerous": {
                    "type": "integer",
                    "format": "int32",
                    "description": "<p>This field is only applicable for&nbsp;local sellers&nbsp;in Indonesia and Malaysia. Use this field to identify whether a product is a dangerous product. 0 for non-dangerous product and 1 for dangerous product. For more information, please visit the market's respective Seller Education Hub.<br /></p>"
                  },
                  "tax_info": {
                    "type": "object",
                    "description": "<p>Tax information for this item.<br /></p>",
                    "properties": {
                      "ncm": {
                        "type": "string",
                        "description": "<p>Mercosur Common Nomenclature, it is a convention between Mercosur member countries to easily recognize goods, services and productive factors negotiated among themselves.&nbsp;(BR region)<br /></p><p><br />NCM must have 8 digits, OR, if your item doesn't have a NCM enter the value \"00\"</p>"
                      },
                      "same_state_cfop": {
                        "type": "string",
                        "description": "<p>Tax Code of Operations and Installments for orders that seller and buyer are in the same state. It identifies a specific operation by category at the time of issuing the invoice.(BR region)<br /></p>"
                      },
                      "diff_state_cfop": {
                        "type": "string",
                        "description": "<p>Tax Code of Operations and Installments for orders that seller and buyer are in different states. It identifies a specific operation by category at the time of issuing the invoice.(BR region)<br /></p>"
                      },
                      "csosn": {
                        "type": "string",
                        "description": "<p>Code of Operation Status \u2013 Simples Nacional, code for company operations to identify the origin of the goods and the taxation regime of the operations.(BR region)<br /></p>"
                      },
                      "origin": {
                        "type": "string",
                        "description": "<p>Product source, domestic or foreig (BR region).<br /></p>"
                      },
                      "cest": {
                        "type": "string",
                        "description": "<p>Tax Replacement Specifying Code (CEST), to separate within the same NCM products that do or do not have ICMS tax substitution. (BR region)<br /><br />CEST must have 7 digits, OR, if your item doesn't have a CEST enter the value \"00\".<br /></p>"
                      },
                      "measure_unit": {
                        "type": "string",
                        "description": "<p>(BR region)<br /></p>"
                      },
                      "invoice_option": {
                        "type": "string",
                        "description": "<p>Value shuold be one of NO_INVOICES VAT_MARGIN_SCHEME_INVOICES VAT_INVOICES NON_VAT_INVOICES and if value is NON_VAT_INVOICE vat_rate should be null (PL region)<br /></p>"
                      },
                      "vat_rate": {
                        "type": "string",
                        "description": "<p>Value should be one of 0% 5% 8% 23% NO_VAT_RATE (PL region)<br /></p>"
                      },
                      "hs_code": {
                        "type": "string",
                        "description": "<p>HS Code (Only for IN region)<br /></p>"
                      },
                      "tax_code": {
                        "type": "string",
                        "description": "<p>Tax Code (Only for IN region)<br /></p>"
                      },
                      "tax_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "<p>tax_type only for TW whitelist shop. Shopee will referred Tax type when substitute sellers for issuing e-receipts to buyers. All variations share the same tax type. The meaning of value:&nbsp;</p><p>0: no tax type</p><p>1: tax-able</p><p>2: tax-free</p>"
                      },
                      "pis": {
                        "type": "string",
                        "description": "<p>Only for BR shop.</p><p>PIS - Programa de Integra\u00e7\u00e3o Social (Social Integration Program). It is a government tax to collect resources for the payment of unemployment insurance and other employee related rights.</p><p>PIS % - the tax applied to this product</p>"
                      },
                      "cofins": {
                        "type": "string",
                        "description": "<p>Only for BR shop.<br /></p><p>COFINS \u2013 Contribui\u00e7\u00e3o para Financiamento da Seguridade Social (Contribution for Social Security Funding). It&nbsp;is a government tax to collect resources for public health system and social security.</p><p>COFINS&nbsp;% - the tax applied to this product</p>"
                      },
                      "icms_cst": {
                        "type": "string",
                        "description": "<p>Only for BR shop.<br /></p><p>ICMS - Imposto sobre Circula\u00e7\u00e3o de Mercadorias e Servi\u00e7os (Circulation of Goods and Services Tax).&nbsp;</p><p>CST - C\u00f3digo da Situa\u00e7\u00e3o Tribut\u00e1ria (Tax Situation Code) is represented by a combination of 3 numbers with the purpose of demonstrating the origin of a product and determining the form of taxation that will apply to it. Therefore, each digit in the CST Table has a specific meaning: the first digit indicates the origin of the operation, the second digit represents the ICMS taxation on the operation and the third digit provides additional information about the form of taxation.</p>"
                      },
                      "pis_cofins_cst": {
                        "type": "string",
                        "description": "<p>Only for BR shop.</p><p>The CST PIS/Cofins is a code on the Electronic Invoice (NF-e) that identifies the tax situation of PIS (Programa de Integra\u00e7\u00e3o Social) and Cofins (Contribui\u00e7\u00e3o para o Financiamento da Seguridade Social) in sales of goods.</p>"
                      },
                      "federal_state_taxes": {
                        "type": "string",
                        "description": "<p>Only for BR shop.</p><p>Enter the total percentage of the combination of federal, state, and municipal taxes, using up to two decimals.</p>"
                      },
                      "operation_type": {
                        "type": "string",
                        "description": "<p>Only for BR shop.</p><p>1: Retailer</p><p>2: Manufacturer</p>"
                      },
                      "ex_tipi": {
                        "type": "string",
                        "description": "<p>Only for BR shop.<br /></p><p>The EXTIPI field in the NF-e (Nota Fiscal Eletr\u00f4nica) is used to indicate if there's an exception to the IPI (Imposto sobre Produtos Industrializados) tax rate for a specific product.</p>"
                      },
                      "fci_num": {
                        "type": "string",
                        "description": "<p>Only for BR shop.<br /></p><p>The FCI Control Number is a unique identifier assigned to each import FCI (Import Content Form). It's mandatory on the corresponding NF-e (electronic invoice) to ensure compliance with Brazilian import tax regulations.</p>"
                      },
                      "recopi_num": {
                        "type": "string",
                        "description": "<p>Only for BR shop.</p><p>RECOPI NACIONAL is a Brazilian government system that facilitates the registration and management of tax-exempt operations involving paper destined for printing books, newspapers, and periodicals (known as \"papel imune\" in Portuguese).</p>"
                      },
                      "additional_info": {
                        "type": "string",
                        "description": "<p>Only for BR shop.</p><p>Include relevant information to display on Invoice.</p>"
                      },
                      "group_item_info": {
                        "type": "object",
                        "description": "<p>Only for BR shop.</p><p>Required if the item is a group item.</p>",
                        "properties": {
                          "group_qtd": {
                            "type": "string",
                            "description": "<p>Example: The package contains 6 soda cans. Whether you are selling a pack of 6 cans (fardo) or a single can (unit), enter 6.<br /></p>"
                          },
                          "group_unit": {
                            "type": "string",
                            "description": "<p>Example: The package contains 6 soda cans. Whether you are selling a pack of 6 cans (fardo) or a single can (unit), enter UNI for the individual can.<br /></p>"
                          },
                          "group_unit_value": {
                            "type": "string",
                            "description": "<p>Example: The package contains 6 soda cans. Whether you are selling a pack of 6 cans (fardo) or a single can (unity), enter the value of the individual can.<br /></p>"
                          },
                          "original_group_price": {
                            "type": "string",
                            "description": "<p>Example: The item is a package that contains 6 soda cans. Enter the price of the whole package.<br /></p>"
                          },
                          "group_gtin_sscc": {
                            "type": "string",
                            "description": "<p>Example: The item is a package that contains 6 soda cans. Please inform the GTIN SSCC code for the package.<br /></p>"
                          },
                          "group_grai_gtin_sscc": {
                            "type": "string",
                            "description": "<p>Example: The item is box, that contain 6 packages. Each package contains 6 soda cans. Please inform the GRAI GTIN SSCC code for the Box.<br /></p>"
                          }
                        }
                      }
                    },
                    "required": [
                      "hs_code",
                      "tax_code"
                    ]
                  },
                  "seller_stock": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "location_id": {
                          "type": "string",
                          "description": "<p>location id<br /></p>"
                        },
                        "stock": {
                          "type": "integer",
                          "format": "int32",
                          "description": "<p>stock<br /></p>"
                        }
                      },
                      "required": [
                        "stock"
                      ]
                    },
                    "description": "<p>seller stock\uff08Please notice that stock(including Seller Stock and Shopee Stock) should be larger than or equal to real-time reserved stock\uff09<br /></p>"
                  },
                  "size_chart_info": {
                    "type": "object",
                    "properties": {
                      "size_chart": {
                        "type": "string",
                        "description": "<p>ID of size chart image. If you want to remove the image size chart of the item, please pass the \"size_chart\" empty.</p><p><br /></p><p>Notes: Both CB shops and local shops are supported to set \"size_chart\".</p>"
                      },
                      "size_chart_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "<p>ID of template size chart. If you want to remove the template size chart of the item, please pass the \"size_chart_id\" as 0.</p><p><br /></p><p>Notes: Only local shops are supported to set \"size_chart_id\", for CB shops please use \"size_chart\".</p>"
                      }
                    }
                  },
                  "authorised_brand_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "<p>ID of authorised reseller brand.<br /></p>"
                  },
                  "model_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tier_index": {
                          "type": "integer",
                          "format": "int32[]",
                          "description": "<p>Tier index of this model.</p>"
                        },
                        "model_sku": {
                          "type": "string",
                          "description": "<p>Seller SKU of this model, model_sku length information needs to be no more than 100 characters.<br /></p>"
                        },
                        "original_price": {
[...]
